.hero-container {
  background: url("../images/backgrounds/splashBackground.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  align-items: center;
  object-fit: contain;
  display: flex;
  flex-direction: column;
}

.hero-container > h1 {
  color: #c7c7c7;
  font-size: 10vmin;
  margin-top: 150px;
  font-family: "Lucida Console", "Montseratt";
  letter-spacing: 10px;
}

.hero-container > p {
  color: #c7c7c7;
  font-size: 15px;
  font-family: "Montseratt";
  letter-spacing: 1.5px;
}
