.image-container {
  min-height: fit-content;
  background-color: rgb(56, 56, 56);
  padding-bottom: 20px;
}

.model-instance-image {
  max-height: 400px;
  margin: 15px;
}

.image-description {
  max-width: 500px;
  margin: auto;
  color: white;
}